

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #ffffff;
}

nav {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #ffffff;
  line-height: 1.5;
  margin: 50px auto; /*for display only*/
  width: 30%;
  float:left;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.menu-item {
  background: #fff;
  width: 30%; 
}



.menu-item:hover ul {
  height: 93px;
}

.menu-item:hover ul {
  height: 93px;
}

.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  
   /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}

.menu-item ul a {
  margin-left: 20px;
  text-decoration: none;
  color: #aaa;
  display: block;
  width: 30%;
}

.main-content {
	float:left;
	width: 900px;
	height:1000px;
}

.ims-alerts{
	width: 800px;
	height:300px;
	border-style: solid;
    z-index:0;
	margin:0 auto;
	border-color:#38b6ff;
}

.ims-updates{
	width: 800px;
	height:300px;
	border-style: solid;
    z-index:1;
	margin:0 auto;
	border-color:#38b6ff;
}

.table-content{
	float:left;
	width: 900px;
	height:1000px;
}

.supplier-table{
	margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
}

th {
	background: #38b6ff;
	color: #fff;
	font-size: 30px;
	font-weight: 500;
}

.ims-updates h4{
	color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding: 7px 12px;
  background: #38b6ff;
}

.ims-alerts h4{
	color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding: 7px 12px;
  background: #38b6ff;
}

.main-content h1{
	color:#38b6ff;
  font-size: 50px;
  font-weight: 500;
  padding: 7px 12px;
  text-align:center;
}


/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #eee;
}
 
.menu-item li:hover {
  background: #eee;
}

/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #eee;
}

.menu-item li:hover {
  background: #eee;
}

/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 20px;
  line-height: 30px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}

* {
  margin: 0px;
  padding: 0px;
}
 
body {
  background: #ffffff;
}
 
.menu-item {
  background: #ffffff;
  width: 100%; 
}

li a{
	color:#38b6ff;
}

.menu-item h4 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  padding: 7px 12px;
  background: #38b6ff;
}