* {
	box-sizing: border-box;
}

.logout {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	float: left;
	position: relative;
	display: block;
}

.whitetext{
	color: white;	
}

.contact_us_email{
	margin-top: 10%;
	width:50%;
}
.contact_us_align{
	margin-top: 2%;
}

.contact_us_align_top{
	
}
.contact_us_left{
	
	float:left;
	width:50%;
}

.contact_us_wrapper{
	
	text-align: center;
}
.contact_us_right{
	
	
	float:left;
	width:50%;
}

.contactUs{
	width:50%;
	
}
.contact_header{
	text-align: center;
}

.text_area{
	margin-top: 10%;
	width:25%;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}


.form {
	width: 500;
	height: 45px;
	padding: 5px;
	margin: 50px auto;
	background-color: #DCCBDA;
	text-align: center;
	border-radius: 8px
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

#footer {
	position: absolute;
	width: 100%;
	height:60px; /* Height of the footer */
	background: #49274A;
	text-align: center;
	font-size: 12px;
	padding: 15px;
}

.nav {
	color: #FFFFFF;
}

#form_design {
	background-color: #DCCBDA;
	height: 5%;
	width:90%;
	padding: 5px;
	margin: 1% auto;
	background-color: #DCCBDA;
	text-align: right;
	border-radius: 8px
}

.searchBar {
	width: 95%;
	border: 1px solid #49274A;
	border-radius: 8px;
	padding: 12px 10px 12px 20px;
}
.active {
	background-color: #DCCBDA;
	color: black;
}

.button2:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

input[type=search] {
	border: 2px solid #ccc;
	border-radius: 4px;
	padding: 12px 20px 12px 40px;
}

input[type=username] {
	border: 2px solid #ccc;
	border-radius: 4px;
	padding: 12px 20px 12px 40px;
}

input[type=password] {
	border: 2px solid #ccc;
	border-radius: 4px;
	padding: 12px 20px 12px 40px;
}

article {
	background-color: #DCCBDA;
	width: 95%;
	padding: 25px;
	margin: 25px
}

btn-default {
	background-color: #DCCBDA;
}

img {
	max-width: 100%;
	height: auto;
}

table, th, td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

#login {
	background: #DCCBDA;
}

#icon {
	float: right;
}

.register_email{
	position:relative;
	float:left;
	margin-top: 10%;
	text-align: left;
	margin-left: 5%;
}

.register_email_input{
	position:relative;
	float:left;
	margin-top: 10%;
	text-align: left;
	margin-left: 1%;
}

.register_password{
	position:relative;
	float:left;
	margin-top: 5%;
	margin-left: 5%;
	text-align: left;
}

.register_password_input{
	position:relative;
	float:left;
	margin-top: 5%;
	margin-left: 1%;
	text-align: left;
}

.confirm_password{
	position:relative;
	float:left;
	margin-top: 5%;
	text-align: left;
		margin-left: 5%;
}

.login_username{
	position:relative;
	float:left;
	margin-top: 5%;
	text-align: left;
	margin-left: 1%;
	padding-bottom: 5%;
}

.login_username_input{
	position:relative;
	float:left;
	margin-top: 5%;
	text-align: left;
	margin-left: 1%;
	padding-bottom: 5%;
}

.create_account_header{
	text-align: center;
	padding-bottom: 5%;
}

.login_password{
	position:relative;
	float:left;
	margin-top: 5%;
	text-align: left;
	margin-left: 1%;
	padding-bottom: 5%;
	
}

.account-container{
	text-align: center;
}

.login_header{
	margin-bottom: 2%;
}

.lgn{
	margin-top: 1%;
	margin-bottom: 2%;
}

.psswd{
	margin-top: 1%;
	margin-bottom: 2%;
}
.login_button{
	
	margin-top: 5%;
	margin-bottom: 2%;
}

.login_password_input{
	position:relative;
	float:left;
	margin-top: 5%;
	text-align: left;
	margin-left: 1%;
	padding-bottom: 5%;
}
.confirm_password_input{
	position:relative;
	float:left;
	margin-top: 5%;
	text-align: left;
	margin-left: 1%;
	padding-bottom: 5%;
}
.button{
	position:relative;
	float:left;
	margin-top: 17%;
	margin-left: 1%;
	text-align: left;
}
.myInput {
    width: 50%;
}

.sign_in{
	background: #DCCBDA;
	width:50%;
	padding-right:2.0833333333%;
	float:left;
	list-style:none;
	display:block;
	border-size:5px;
	border-style:solid;
	border-color:white;
}

.register{
	background: #DCCBDA;
	width:50%;
	padding-right:2.0833333333%;
	float:left;
	list-style:none;
	display:block;
	border-size:5px;
	border-style:solid;
	border-color:white;
}

.login{
	background: #DCCBDA;
	width:50%;
	padding-right:2.0833333333%;
	float:left;
	list-style:none;
	display:block;
	border-size:5px;
	border-style:solid;
	border-color:white;
}

#searchBox {
	background-color: #eaf8fc;
	background-image: linear-gradient(#fff, #d4e8ec);
	border-radius: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4d9df #a4c3ca #83afb7;
	width: 500px;
	height: 35px;
	padding: 10px;
	margin: 100px auto 50px;
	overflow: hidden;
	
}

.page-details {
	position: fixed;
	bottom: 0;
}

.Product{
	margin: 1%;
	border: 5px solid #49274A;
	border_radius: 8px;
}

.Left-nav {
	float: left;
	height: 450px;
}

.basket_row {
	float: left;
	max-height: 350px;
	width:100%;
	border-width: 2px;
   	border-bottom-width:2px;
   	border-bottom-color:White;
   	border-bottom-style: solid;
}

.basket_image{
	float:left;
	width:30%;
	height:100%;
	text-align:center;
	padding-top:5%;
}

.basket_content{
	width:50%;
	height:100%;
	text-align:center;
	padding-top:12.5%;
	float:left;
}

.basket_content_image{
	height:100%;
}



.basket_quantity{
	text-align:center;
	padding-top:5%;
	margin: 1%
}


.basket_remove{
	float:right;
	width:20%;
	height:100%;
	text-align:center;
	padding-top:11%;
}

.basket_remove_button{
	float:right;
	padding-left:5%;
}
#searchPane {
	width: auto;
	float: left;
}

#Product_Nav {
	background: #DCCBDA;
	padding: 25px;
	margin: 25px;
	border-radius: 8px;
}

#image-content {
	float: right;
	margin: 0 auto;
	height: 200px;
	width: 200px;
}

.image {
	height: 250px;
	width: 150px;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-m-1 {
		width: 8.33%;
	}
	.col-m-2 {
		width: 16.66%;
	}
	.col-m-3 {
		width: 25%;
	}
	.col-m-4 {
		width: 33.33%;
	}
	.col-m-5 {
		width: 41.66%;
	}
	.col-m-6 {
		width: 50%;
	}
	.col-m-7 {
		width: 58.33%;
	}
	.col-m-8 {
		width: 66.66%;
	}
	.col-m-9 {
		width: 75%;
	}
	.col-m-10 {
		width: 83.33%;
	}
	.col-m-11 {
		width: 91.66%;
	}
	.col-m-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}

@media only screen and (orientation: portrait) {
	.header {
		background-color: red;
	}
}
