
#SearchBar {
    float: right;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21; 
}

#NavBar
{
	list-style-type:none;
	margin-left: auto;
    margin-right: auto;
	padding:0;
	overflow:hidden;
    background-color:#49274a;
}

li
{
    display: inline;
	margin-left: auto;
    margin-right: auto;
	text-align:center;
}

li a 
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	margin-left: auto;
    margin-right: auto;
}

li a:hover 
{
    background-color: #111;
}