

* {
  margin: 0px;
  padding: 0px;
}


nav {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #DCCBDA;
  line-height: 1.5;
  padding: 10px;
  margin: 50px auto; /*for display only*/
  width: 30%;
  float:left;
 
}

.container
{
	width: 70%;
	float: right;
}
.red
{
	color: red;
}

.blue
{
	color: #0080ff;
}

.menu-item {
  background: #49274A;
  width: 30%; 
}

.productsearch{
	width:90%;
}

.logo-background{
	float:left;
}


.menu-item:hover ul {
  height: 93px;
}

.menu-item:hover ul {
  height: 93px;
}

.table-key{
	float:right;
}


.menu-item ul {
  background: #49274A;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  
   /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}

.menu-item ul a {
  margin-left: 20px;
  text-decoration: none;
  color: #49274A;
  display: block;
  width: 30%;
}

.main-content {
	float:left;
	width: 900px;
	height:1000px;
}

.ims-alerts{
	margin-right: auto; margin-left: auto; width: 70%;
	border-style: solid;
    margin:12px;
    padding-left: 10px;
    padding-right: 10px;
	border-color:#49274A;
	background: #DCCBDA;
	}

.ims-updates{
	margin-right: auto; margin-left: auto; width: 70%;
	border-style: solid;
	margin:12px;
	padding-left: 10px;
	 padding-right: 10px;
   	border-color:#49274A;
   	background: #DCCBDA;
   	}

.low-stock{
	width: 400px;
	height:300px;
	border-style: solid;
	margin:0 auto;
	border-color:#49274A;
	
}

.table-content{
	float:left;
	width: 900px;
	height:1000px;
}

.table-content-create-order{
	float:left;
	width: 450px;
	height:1000px;
}

.table-content-create-order-right{
	float:right;
	width: 450px;
	height:1000px;
}

.supplier-table{
	margin: 0 auto;
}

table, th, td, tr {
    border: 1px solid black;
   }

tr:nth-child(odd)
 {
	background: #DCCBDA;
}

th {
	background: #49274A;
	color: #fff;
	font-size: 30px;
	font-weight: 500;
}

.ims-updates h4{
	color: white;
  font-size: 30px;
  font-weight: 500;
  padding:  7px 12px;
   padding-left: 10px;
  background: #49274A;
}

.ims-alerts h4{
	color: white;
  font-size: 30px;
  font-weight: 500;
  padding:7px 12px;
   background: #49274A;
}

.main-content h1{
	color:#49274A;
	margin: 12px;
  font-size: 50px;
  font-weight: 500;
  padding: 7px 12px;
 text-align:center;
}
#header{
	padding: 10px;
	color:white;
	background: #49274A;
	 width: 70%;
    margin: 10px;

}

#choose_item
{
	padding: 10px;
	color: #49274A;
	background: #DCCBDA;	
	width: 55%;
}

/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #DCCBDA;
}
 
.menu-item li:hover {
  background: #49274A;
}

/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #DCCBDA;
}

.menu-item li:hover {
  background: #DCCBDA;
}

/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 20px;
  line-height: 30px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}

* {
  margin: 5px;
  padding: 0px;
}
 
body {
  background: white;
}
 
.menu-item {
   width: 100%; 
  color: white;
}

.menu-item a {
	color: white;
}

li a{
	color:#49274A;
}

#form_design
{
	padding: 10px;
	margin: 10px;	
	background: #DCCBDA;
	 width: 70%;

}

#form_design_create
{
	padding: 10px;
	margin: 10px;	
	align: centre;
	background: #DCCBDA;
}

.menu-item h4 {
  color: white;
  font-size: 30px;
  font-weight: 500;
  padding: 7px 12px;
  background: #49274A;
}
